NS = 'nwd'
*{
    margin: 0;
    padding: 0;
}

.{NS}-font-bold{
    font-weight: bold;
}
.{NS}-text-left{
    text-align: left;
}
.{NS}-text-center{
    text-align: center;
}
.{NS}-text-right{
    text-align: right;
}